---
import { BadResponseError } from '@/lib/errors'
import Platform from '@/layouts/Platform.astro'
import Breadcrumb from '@/components/shared/Breadcrumb.astro'
import StripeProvider from '@/components/platform/StripeProvider'
import { validateCookies } from '@/lib/server'

export const prerender = false
if (!validateCookies(Astro.cookies))
  return Astro.redirect('/account/login', 307)

const { id = 'unkown' } = Astro.params

let payment:
  | null
  | {
      alreadyPaid: false
      clientSecret: string
      intentId: string
      userHaveBillingProfile: boolean
      data: {
        amount: number
        installments: number
      }
    }
  | {
      alreadyPaid: true
    } = null

try {
  const res = await fetch(
    `${import.meta.env.API_URL}/payments/initialize?order_id=${id}`,
    {
      method: 'POST',
      headers: {
        Cookie: Astro.request.headers.get('cookie') || '',
        'Content-Type': 'application/json'
      }
    }
  )

  if (!res.ok) throw new BadResponseError(res)

  const newCookies = res.headers.get('Set-Cookie')
  if (newCookies) {
    Astro.response.headers.set('Set-Cookie', newCookies)
  }

  payment = await res.json()
} catch {
  return Astro.redirect(`/platform/services/${id}`, 307)
}

if (payment === null) return Astro.redirect('/error', 307)
---

<Platform server>
  <div class="grid grid-rows-[auto_1fr] sm:gap-2 h-full">
    <div>
      <Breadcrumb
        items={[
          { title: 'Plataforma', href: '/platform' },
          { title: 'Servicios', href: '/platform/services' },
          { title: id, href: `/platform/services/${id}` },
          { title: 'Checkout', href: '/' }
        ]}
      />
      <div class="mt-2 flex justify-between items-end">
        <h1
          class="scroll-m-20 text-left text-2xl lg:text-3xl font-extrabold tracking-tight text-balance inline-flex items-center gap-2"
        >
          Total
        </h1>
        <p class="text-xl lg:text-2xl font-semibold">
          {
            payment.alreadyPaid
              ? '$0 MXN'
              : `$${payment.data.amount.toLocaleString()} MXN`
          }
        </p>
      </div>
    </div>
    {
      payment.alreadyPaid ? (
        <section class="mt-2">
          <h2 class="text-xl md:text-2xl font-semibold">
            Este servicio va por nuestra cuenta 🧙🏾‍♂️
          </h2>
          <div class="opacity-90">
            <p class="mt-2 md:text-lg lg:max-w-[80%]">
              Enhorabuena, este servicio no tiene costo. Notificaremos a nuestro
              equipo para darle siguimiento a su servicio.
            </p>
            <p class="mt-4 md:text-lg lg:max-w-[80%]">
              Recuerda que puedes crear un hilo para cualquier asunto
              relacionado al servicio en cualquier momento. Agradecemos tu
              confianza, esperamos poder continuar trabajando para mejorar la
              experiencia de tu audiencia y/o clientes.
            </p>
          </div>
        </section>
      ) : (
        <section class="overflow-y-auto overflow-x-clip px-1 flex justify-center items-start">
          <StripeProvider
            {id}
            data={{
              clientSecret: payment.clientSecret,
              intentId: payment.intentId,
              userHaveBillingProfile: payment.userHaveBillingProfile
            }}
            client:only="react"
          />
        </section>
      )
    }
  </div>
</Platform>
