---
import { API_URL } from 'astro:env/client'
import { BadResponseError } from '@/lib/errors'
import Platform from '@/layouts/Platform.astro'
import ReceiptText from '@lucide/astro/icons/receipt-text'
import Breadcrumb from '@/components/shared/Breadcrumb.astro'
import { validateCookies } from '@/lib/server'
import { format } from '@formkit/tempo'

export const prerender = false

if (!validateCookies(Astro.cookies))
  return Astro.redirect('/account/login', 307)

const { id = 'unkown' } = Astro.params

let payments: null | Array<{
  id: number
  order_id: number
  amount: number
  created_at: Date
}> = null

try {
  const res = await fetch(`${import.meta.env.API_URL}/orders/${id}/payments`, {
    headers: {
      Cookie: Astro.request.headers.get('cookie') || '',
      'Content-Type': 'application/json'
    }
  })

  if (!res.ok) throw new BadResponseError(res)

  const newCookies = res.headers.get('Set-Cookie')
  if (newCookies) {
    Astro.response.headers.set('Set-Cookie', newCookies)
  }

  const data = await res.json()
  payments = data.payments
} catch {
  return Astro.redirect('/error', 307)
}
---

<Platform server>
  <div class="grid grid-rows-[auto_1fr] gap-2 h-full">
    <div>
      <Breadcrumb
        items={[
          { title: 'Plataforma', href: '/platform' },
          { title: 'Servicios', href: '/platform/services' },
          { title: id, href: `/platform/services/${id}` },
          { title: 'Pagos', href: '' }
        ]}
      />
      <div class="mt-2 flex items-center gap-2">
        <span>
          <a
            href={`/platform/services/${id}`}
            class="opacity-60 hover:opacity-100 transition-opacity duration-200"
            >Datos</a
          ></span
        >
        <span>
          <a
            href={`/platform/services/${id}/contract`}
            class="opacity-60 hover:opacity-100 transition-opacity duration-200"
            >Contrato</a
          ></span
        >
        <span class="cborder-l pl-2">
          <h1 class="font-semibold tracking-tight">Pagos</h1>
        </span>
        <span class="cborder-l pl-2">
          <a
            href={`/platform/services/${id}/threads`}
            class="opacity-60 hover:opacity-100 transition-opacity duration-200"
            >Hilos</a
          >
        </span>
      </div>
    </div>
    <section class="bg-csecondary cborder max-h-full overflow-y-auto">
      {
        !payments || payments.length === 0 ? (
          <div class="w-full h-full flex justify-center items-center">
            <p class="text-center opacity-80 dark:opacity-60">
              No hay pagos que mostrar
            </p>
          </div>
        ) : (
          <ul>
            {payments.map(payment => (
              <li class="cborder-b grid grid-cols-[auto_1fr_auto_auto] p-2">
                <div class="pl-2 pr-3">
                  <p class="text-center">{payment.id}</p>
                </div>
                <p class="cborder-l pl-2 truncate">
                  ${Number(payment.amount).toLocaleString()} MXN
                </p>
                <p class="cborder-l px-2 truncate">
                  {format(payment.created_at, 'long', 'es')}
                </p>
                <a
                  aria-label="Descargar comprobante"
                  target="_blank"
                  href={`${API_URL}/payments/${payment.id}`}
                  class="content-center transition-opacity duration-200 hover:opacity-80 cborder-l pl-2"
                >
                  <ReceiptText class="size-4" />
                </a>
              </li>
            ))}
          </ul>
        )
      }
    </section>
  </div>
</Platform>
