---
import { BadResponseError } from '@/lib/errors'
import Su from '@/layouts/Su.astro'
import Plus from '@lucide/astro/icons/plus'
import Breadcrumb from '@/components/shared/Breadcrumb.astro'
import Arrows from '@lucide/astro/icons/arrow-left-right'
import SecretsList from '@/components/su/SecretsList'
import { validateCookies } from '@/lib/server'
import type { Secret } from '@/lib/types'

export const prerender = false
if (!validateCookies(Astro.cookies))
  return Astro.redirect('/account/login', 307)

const { searchParams } = Astro.url
const sent = searchParams.get('sent') === '1'
const { id = 'unkown' } = Astro.params

let secrets: Array<Secret> = []
let key: undefined | string

try {
  const res = await fetch(
    `${import.meta.env.API_URL}/users/${id}/secrets${!sent ? '?as_receiver=1' : ''}`,
    {
      headers: {
        Cookie: Astro.request.headers.get('cookie') || '',
        'Content-Type': 'application/json'
      }
    }
  )

  if (!res.ok) throw new BadResponseError(res)

  const newCookies = res.headers.get('Set-Cookie')
  if (newCookies) {
    Astro.response.headers.set('Set-Cookie', newCookies)
  }

  const data = await res.json()
  secrets = data.secrets
  key = data.key
} catch {
  return Astro.redirect('/error', 307)
}
---

<Su server>
  <div class="grid grid-rows-[auto_1fr] gap-2 h-full">
    <div>
      <Breadcrumb
        items={[
          { title: 'Su', href: '/su' },
          { title: 'Usuarios', href: '/su/users' },
          { title: id.split('-')[0], href: `/su/users/${id}` },
          { title: 'Credenciales', href: '' }
        ]}
      />
      <div class="flex justify-between items-end">
        <div class="mt-2 flex items-center gap-2">
          <span>
            <a
              href={`/su/users/${id}`}
              class="opacity-60 hover:opacity-100 transition-opacity duration-200"
              >Datos</a
            ></span
          >
          <span class="cborder-l pl-2">
            <a
              href={`/su/users/${id}/services`}
              class="opacity-60 hover:opacity-100 transition-opacity duration-200"
              >Servicios</a
            >
          </span>
          <span class="cborder-l pl-2">
            <a
              href={`/su/users/${id}/payments`}
              class="opacity-60 hover:opacity-100 transition-opacity duration-200"
              >Pagos</a
            >
          </span>
          <span class="cborder-l pl-2">
            <a
              href={`/su/users/${id}/threads`}
              class="opacity-60 hover:opacity-100 transition-opacity duration-200"
              >Hilos</a
            >
          </span>
          <span class="cborder-l pl-2 inline-flex items-center gap-2">
            <h1 class="font-semibold tracking-tight">Credenciales</h1>
            {
              sent ? (
                <a
                  href={`/su/users/${id}/secrets`}
                  class="opacity-85 hover:underline underline-offset-2 inline-flex items-center gap-2"
                >
                  <Arrows class="w-4 h-4" />
                  <p>Mostrar recibidas</p>
                </a>
              ) : (
                <a
                  href={`/su/users/${id}/secrets?sent=1`}
                  class="opacity-85 hover:underline underline-offset-2 inline-flex items-center gap-2"
                >
                  <Arrows class="w-4 h-4" />
                  <p>Mostrar enviadas</p>
                </a>
              )
            }
          </span>
        </div>
        {
          sent && (
            <>
              <button
                id="add-secret"
                class="inline-flex gap-1 items-center hover:opacity-80 transition-opacity duration-200"
              >
                <Plus class="size-4 text-contrast" />
                <p>Agregar entrada</p>
              </button>
              <script is:inline>
                const btn = document.getElementById('add-secret');if (btn)
                {btn.addEventListener('click', () => {
                  document.dispatchEvent(
                    new CustomEvent('show-add-secret-form')
                  )
                })}
              </script>
            </>
          )
        }
      </div>
    </div>
    <SecretsList
      id={id}
      sent={sent}
      secrets={secrets}
      publicKey={key}
      client:load
    />
  </div>
</Su>
